<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Budget Me.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A625F0E1E72FEDC00C1E7DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A625F221E72FEDC00C1E7DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A625F2D1E72FEDC00C1E7DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
